* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(image/fon1.jpg) no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  /* background: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.logo {
  font-size: 2em;
  color: #fff;
  user-select: none;
}
.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: 1s;
}
.navigation .btnLogin-popup:hover {
  background: #fff;
  color: #162938;
}
.wrapper {
  position: relative;
  width: 400px;
  height: auto;
  min-height: 440px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition:
    transform 0.5s ease,
    height 0.2s ease;
}
.wrapper.active-popup {
  transform: scale(1);
}
.wrapper.active {
  height: 520px;
}
.wrapper .form-box {
  width: 100%;
  padding: 40px;
}
.wrapper .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}
.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}
.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}
.wrapper.active .form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}
.wrapper .icon-close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 45px;
  height: 45px;
  background: #162938;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}
.form-box h2 {
  font-size: 2em;
  color: #829fd6;
  text-align: center;
}
.input-box {
  position: relative;
  width: 100%;
  height: 65px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #829fd6;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
  /* color: #162938; */
  /* font-size: 0.8em; */
}
.input-box input {
  width: 300px;
  height: 100px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #829fd6;
  font-weight: 600;
  padding: 0 35px 45px 5px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #829fd6;
  line-height: 57px;
}

.remember-forgot {
  font-size: 0.9em;
  color: #829fd6;
  font-weight: 500;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input {
  accent-color: #829fd6;
  margin-right: 5px;
}
.remember-forgot a {
  color: #829fd6;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.btn {
  width: 100%;
  height: 50px;
  background: #829fd6;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2em;
  color: #fff;
  font-weight: 500;
}
.login-register {
  font-size: 0.9em;
  color: #829fd6;
  text-align: center;
  margin: 20px 0 10px 0;
  font-weight: 500;
}
.login-register p a {
  color: #829fd6;
  text-decoration: none;
  font-weight: 600;
}
.login-register p a:hover {
  text-decoration: underline;
}
